In [2]:
from pymongo import MongoClient

### 1. 初始化连接

In [13]:
# 初始化数据库连接
client = MongoClient('mongodb://mongodb:123456@localhost:27017')
# 获取数据库和集合
database = client['mongo']
collection = database['spider']

### 2. 插入操作

In [9]:
# 插入单条数据
data = {'id': 123, 'name': 'Tom', 'age': 20, 'salary': 100000}
collection.insert_one(data)

InsertOneResult(ObjectId('65dd7ae06355d5fa396462f3'), acknowledged=True)

In [10]:
# 插入多条数据
data_list = [
    {'id': 2, 'name': 'Tom', 'age': 20, 'salary': 100000},
    {'id': 3, 'name': 'Jonas', 'age': 30, 'salary': 90000},
    {'id': 4, 'name': 'John', 'age': 50, 'salary': 2000}
]
collection.insert_many(data_list)

InsertManyResult([ObjectId('65dd7b6c6355d5fa396462f4'), ObjectId('65dd7b6c6355d5fa396462f5'), ObjectId('65dd7b6c6355d5fa396462f6')], acknowledged=True)

### 2. 查找操作

In [15]:
content = [x for x in collection.find()]
print(content)

[{'_id': ObjectId('65dd7ae06355d5fa396462f3'), 'id': 123, 'name': 'Tom', 'age': 20, 'salary': 100000}, {'_id': ObjectId('65dd7b6c6355d5fa396462f4'), 'id': 2, 'name': 'Tom', 'age': 20, 'salary': 100000}, {'_id': ObjectId('65dd7b6c6355d5fa396462f5'), 'id': 3, 'name': 'Jonas', 'age': 30, 'salary': 90000}, {'_id': ObjectId('65dd7b6c6355d5fa396462f6'), 'id': 4, 'name': 'John', 'age': 50, 'salary': 2000}]

In [16]:
content = [x for x in collection.find({'age': 20})]
print(content)

[{'_id': ObjectId('65dd7ae06355d5fa396462f3'), 'id': 123, 'name': 'Tom', 'age': 20, 'salary': 100000}, {'_id': ObjectId('65dd7b6c6355d5fa396462f4'), 'id': 2, 'name': 'Tom', 'age': 20, 'salary': 100000}]

find()方法的第2个参数指定返回内容。这个参数是一个字典，Key就是字段的名称，Value是0或者1,0表示不返回这个字段，1表示返回这个字段。其中_id比较特殊，必须人工指定它的值为0，这样才不会返回。而对于其他数据，应该统一使用返回，或者统一使用不返回

In [17]:
# 限定返回的字段
content = [x for x in collection.find({'age': 20}, {'_id': 0, 'name': 1, 'salary': 1})]
print(content)

[{'name': 'Tom', 'salary': 100000}, {'name': 'Tom', 'salary': 100000}]

#### (1) 限定词

In [21]:
content = [x for x in collection.find({'age': {'$gt': 20, '$lte': 100}}).sort('age', -1)]
print(content)

[{'_id': ObjectId('65dd7b6c6355d5fa396462f6'), 'id': 4, 'name': 'John', 'age': 50, 'salary': 2000}, {'_id': ObjectId('65dd7b6c6355d5fa396462f5'), 'id': 3, 'name': 'Jonas', 'age': 30, 'salary': 90000}]

### 3. 更新操作

In [22]:
collection.update_one({'age': 20}, {'$set': {'name': 'Jia'}})
content = [x for x in collection.find().sort('age', 1)]
print(content)

[{'_id': ObjectId('65dd7ae06355d5fa396462f3'), 'id': 123, 'name': 'Jia', 'age': 20, 'salary': 100000}, {'_id': ObjectId('65dd7b6c6355d5fa396462f4'), 'id': 2, 'name': 'Tom', 'age': 20, 'salary': 100000}, {'_id': ObjectId('65dd7b6c6355d5fa396462f5'), 'id': 3, 'name': 'Jonas', 'age': 30, 'salary': 90000}, {'_id': ObjectId('65dd7b6c6355d5fa396462f6'), 'id': 4, 'name': 'John', 'age': 50, 'salary': 2000}]

In [23]:
collection.update_many({'age': 20}, {'$set': {'name': 'Jia'}})
content = [x for x in collection.find().sort('age', 1)]
print(content)

[{'_id': ObjectId('65dd7ae06355d5fa396462f3'), 'id': 123, 'name': 'Jia', 'age': 20, 'salary': 100000}, {'_id': ObjectId('65dd7b6c6355d5fa396462f4'), 'id': 2, 'name': 'Jia', 'age': 20, 'salary': 100000}, {'_id': ObjectId('65dd7b6c6355d5fa396462f5'), 'id': 3, 'name': 'Jonas', 'age': 30, 'salary': 90000}, {'_id': ObjectId('65dd7b6c6355d5fa396462f6'), 'id': 4, 'name': 'John', 'age': 50, 'salary': 2000}]

### 4. 删除操作

In [24]:
collection.delete_one({'name': 'Jia'})
content = [x for x in collection.find().sort('age', 1)]
print(content)

[{'_id': ObjectId('65dd7b6c6355d5fa396462f4'), 'id': 2, 'name': 'Jia', 'age': 20, 'salary': 100000}, {'_id': ObjectId('65dd7b6c6355d5fa396462f5'), 'id': 3, 'name': 'Jonas', 'age': 30, 'salary': 90000}, {'_id': ObjectId('65dd7b6c6355d5fa396462f6'), 'id': 4, 'name': 'John', 'age': 50, 'salary': 2000}]

In [26]:
collection.delete_many({'age': {'$gte': 30}})
content = [x for x in collection.find().sort('age', 1)]
print(content)

[{'_id': ObjectId('65dd7b6c6355d5fa396462f4'), 'id': 2, 'name': 'Jia', 'age': 20, 'salary': 100000}]